* {
    box-sizing: border-box;
}

#Navigator {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
}

.box {
    border-style: none;
    text-align: center;
}

#Menu {
    margin: 0 auto;
}

.spacer {
    flex-grow: 0.25;
}

#Menu ul{
    list-style-type: none;
}

#Menu ul li{
    display: inline-block;
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

#Menu ul li a{
    text-decoration: none;
    color: black;
    padding: 5px;
}

#Menu ul li a:hover{
    border-radius: 5px;
    background-color: rgb(241, 241, 241);
}

#Button #Login{
    display: inline-block;
    width: 75px;
    height: 35px;
    color:black;
    background-color: white;
    text-decoration: none;
    text-align: center;
    padding: 7px;
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#Button #Login:hover{
    border-radius: 5px;
    background-color: rgb(241, 241, 241);
}


#Button #getNotionfree{
    display: inline-block;
    border-radius: 5px;
    width: 150px;
    height: 35px;
    background-color: blue;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-align: center;
    padding: 5px;
}

#hero-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#hero-section #Picture{
    margin-top: 75px;
}

#hero-section #Big-Title h1{
    font-weight: 600;
    font-size: 50px;
    line-height: 1.1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#hero-section #Big-Title p{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#Section-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#Section-buttons #getNotionfree{
    display: inline-block;
    border-radius: 5px;
    width: 150px;
    height: 35px;
    background-color: blue;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding: 5px;
    margin-right: 5px;
}

#Section-buttons #requestademo{
    display: inline-block;
    border-radius: 5px;
    width: 150px;
    height: 35px;
    background-color: rgb(203, 203, 255);
    color:rgb(65, 65, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding: 5px;
    margin-left: 5px;
}

#hero-section #marks {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}