* {
    box-sizing: border-box;
}

#Navigator {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
}

.box {
    border-style: none;
    text-align: center;
}

#Menu {
    margin: 0 auto;
}

.spacer {
    flex-grow: 0.25;
}

#Menu ul{
    list-style-type: none;
}

.dropdown_menu {
    /*display: none;*/ 
    position: absolute;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100vw;
    top: 60%;
    left: 0;
    height: auto;
    margin-top: 15px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.dropdown_menu.dropdown_open{
    display: flex;
    justify-content: space-evenly;
    visibility: visible;
    opacity: 1;
}

.dropdown_menu.dropdown_open .list ul{
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.dropdown_menu.dropdown_open .list ul li a{
    display: block;
    padding: 8px 15px;
}

.dropdown_menu.dropdown_open #feature2{
    margin-top: 40px;
}

.dropdown_menu.dropdown_open #try{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    padding: 10px;
    margin-right: 75px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.dropdown_menu.dropdown_open #try button{
    border-radius: 5px;
    width: 150px;
    height: 35px;
    background-color: blue;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-align: center;
    padding: 5px;
}

.dropdown_menu.dropdown_open #try img{
    margin-top: 175px;
    width: 100%
}

.dropdown_menu.dropdown_open #list6{
    margin-bottom: auto;
}


#Menu ul li{
    display: inline-block;
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

#Menu ul li a{
    text-decoration: none;
    color: black;
    padding: 5px;
}

#Menu ul li a:hover{
    border-radius: 5px;
    background-color: rgb(241, 241, 241);
}

#Button #Login{
    display: inline-block;
    width: 75px;
    height: 35px;
    color:black;
    background-color: white;
    text-decoration: none;
    text-align: center;
    padding: 7px;
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#Button #Login:hover{
    border-radius: 5px;
    background-color: rgb(241, 241, 241);
}


#Button #getNotionfree{
    display: inline-block;
    border-radius: 5px;
    width: 150px;
    height: 35px;
    background-color: blue;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-align: center;
    padding: 5px;
}

#hero-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#hero-section #Picture{
    margin-top: 75px;
}

#hero-section #Big-Title h1{
    font-weight: 600;
    font-size: 50px;
    line-height: 1.1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#hero-section #Big-Title p{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#Section-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#Section-buttons #getNotionfree{
    display: inline-block;
    border-radius: 5px;
    width: 150px;
    height: 35px;
    background-color: blue;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding: 5px;
    margin-right: 5px;
}

#Section-buttons #requestademo{
    display: inline-block;
    border-radius: 5px;
    width: 150px;
    height: 35px;
    background-color: rgb(203, 203, 255);
    color:rgb(65, 65, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding: 5px;
    margin-left: 5px;
}

#hero-section #marks {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#use-grid{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1.35fr 7.30fr 1.35fr;
    background-color: rgb(248, 248, 248);
}

#use-grid h1{
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#use-grid img{
    border-radius: 20px;
    margin-top: 25px;
}

#use-grid #picture1forgrid{
    margin: auto;
}

#use-grid #picture4forgrid{
    margin-left: 25px;
}

#use-grid #picturecolumn {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 5fr 5fr;
}

#use-grid #lasttitle{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
    margin-top: 50px;
}

#use-grid #lastwrite{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-bottom: 50px;
}

#use-grid-2 {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1.35fr 7.30fr 1.35fr;
    background-color: white;
}

#use-grid-2 h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

#use-grid-2 #first-row a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:blue;
}

#use-grid-2 #first-row p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#use-grid-2 #first-row {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 5fr 5fr;
}

#use-grid-2 #first-row #imagine-box{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#use-grid-2 #second-row {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2.5fr 2.5fr 2.5fr 2.5fr;
    margin-top: 25px;
    gap: 20px;
}

#use-grid-2 #second-row a{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-style: solid;
    border-color: rgb(248, 248, 248);
    border-radius: 20px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-size: 15px;
}

#use-grid-2 #second-row a img{
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}